<IfModule mod_rewrite.c>

	Options +FollowSymLinks -MultiViews

	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-s
	RewriteRule ^(.*)$ index.php?api=$1 [QSA,NC,L]

</IfModule>
