.page-login,
.page-signup {

    padding-top:100px; 

    .main-body {
        border-top: 1px solid lighten(#000, 2%);
        padding: 20px 10px;
    }

    .form-container-login {
        max-width: 350px;
        margin: 10px auto;
    }

    .form-container-signup {
        max-width: 600px;
        margin: 10px auto;
    }
}